<!doctype html>
{% extends 'layouts/index.html' %}
{% load static %}
{% load widget_tweaks %}
{% load helper_functions %}

{% block page_title %} Blogs  {% endblock %}

{% block body_styles %}
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/ckeditor.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script>
    ClassicEditor
        .create( document.querySelector( '#id_content' ), {
            toolbar: {
                items: [
                    'undo', 'redo',
                    '|', 'heading',
                    '|', 'bold', 'italic',
                    '|', 'link', 'insertTable', 'mediaEmbed',
                    '|', 'bulletedList', 'numberedList', 'outdent', 'indent'
                ]
            },
        } )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( err => {
            console.error( err );
        } );

        jQuery(document).ready(function(){
            jQuery('#id_categories').select2({
                allowClear: true,
                tags:true
            })

            jQuery( "#id_date" ).datepicker({
                    changeYear: true,
                    changeMonth: true,
                   dateFormat: 'dd-mm-yy',
                   showAnim: 'slideDown',
                   duration: 'fast',
               }).attr('readonly', 'true');
        })
    </script>

{% endblock %}

{% block body_block %}
     <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>My Account</h2>
          <ol>
            <li><a href="{% url 'portfolio:index' %}">Home</a></li>
            <li>My Blogs</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

   <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="dashboard_menu">
                        <ul>
                            <li class="{{ request.path | is_active_item:'my_account' }}">
                                <a href="{% url 'auth:my_account' %}">
                                    My Account
                                </a>
                            </li>
                            <li class="{{ request.path | is_active_item:'account_blogs' }}">
                                <a href="{% url 'auth:blogs' %}">
                                    Blogs
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
   {% if form.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <div class="container mb-3">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                {% if messages %}
                    <div class="alert {% if is_error %} alert-danger {% else %} alert-success {% endif %}">
                        <ul style="list-style: none;padding: 0;margin: 0">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-header bg-primary d-flex align-items-center justify-content-between">
                        <h4 class="text-center color-white align-items-center m-md-0">Create Blogs</h4>
                        <a href="{% url 'auth:blogs' %}" class="btn bg-white color-primary">Back</a>
                    </div>
                    <div class="card-body">
                        <form method="POST" enctype="multipart/form-data" novalidate>
                            <input type="hidden" name="user_id" value="{{ user_id }}" />
                        <div class="card-body">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-lg-6 form-group">
                                    <label for="title">Title <span class="link-danger">*</span> </label>
                                    {% render_field form.title class="form-control" placeholder="Title" autocomplete="off" %}
                                </div>

                                <div class="col-lg-6 form-group">
                                    <label for="date">Date <span class="link-danger">*</span> </label>
                                   {% render_field form.date class="form-control" placeholder="Date" autocomplete="off" %}
                                </div>
                              </div>
                            <div class="row mt-3">
                                <div class="col-md-6 form-group">
                                    <label for="category">Categories <span class="link-danger">*</span> </label>
                                    {% render_field form.categories class="form-control" placeholder="Categories" autocomplete="off" %}
                                </div>

                                <div class="col-md-6 form-group form-check form-switch switch_div mt-2">
                                   <label for="id_status">Published </label>
                                   {% render_field form.status class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" %}
                                </div>
                          </div>

                        <div class="row mt-3">
                            <div class="col-md-12 form-group">
                                <label for="content">Content <span class="link-danger">*</span> </label>
                                {% render_field form.content class="form-control" placeholder="Content" required=True autocomplete="off" %}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 form-group">
                                <label for="blog_image">Featured Image <span class="link-danger">*</span> </label>
                                {% render_field form.blog_image class="form-control" placeholder="Blog Image" autocomplete="off" %}
                            </div>
                        </div>
                        </div>
                            <div class="card-footer bg-white">
                                <div class="text-center">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}