{% extends 'layouts/admin/auth/base.html' %}

{% block page_title %} Login {% endblock %}

{% block body_block %}
    <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-error">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                </div>
            {% endfor %}
          <!-- Register -->
          <div class="card">
            <div class="card-body">
              <!-- Logo -->
              <div class="app-brand justify-content-center">
                <a href="{{ url_for('front.index') }}" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="{{ url_for('static',filename='public/images/company_logo.jpg') }}" alt="Company Logo">
                  </span>
                </a>
              </div>

              <form id="formAuthentication" class="mb-3" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                  <label for="email" class="form-label">Email or Username</label>
                    {{ form.email(class="form-control",id="email",placeholder="Enter your email or username") }}
                </div>
                <div class="mb-3 form-password-toggle">
                  <div class="d-flex justify-content-between">
                    <label class="form-label" for="password">Password</label>
                    <a href="{{ url_for('auth.admin_forgot_password') }}">
                      <small>Forgot Password?</small>
                    </a>
                  </div>
                  <div class="input-group input-group-merge">
                    {{ form.password(id="password",class="form-control",placeholder="xxxxxxxxxxx") }}
                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                  </div>
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary d-grid w-100") }}
                </div>
              </form>

              <p class="text-center">
                <span>New on our platform?</span>
                <a href="{{ url_for('auth.admin_register') }}">
                  <span>Create an account</span>
                </a>
              </p>
            </div>
          </div>
          <!-- /Register -->
        </div>
      </div>
    </div>
{% endblock %}