<!doctype html>
{% load static %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <h1>Rahul Dhamecha<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
         <li><a class="nav-link scrollto" href="#">Home</a></li>
          <li><a class="nav-link scrollto" href="#">About</a></li>
          <li><a class="nav-link scrollto" href="#">Services</a></li>
          <li><a class="nav-link scrollto" href="#">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#">Team</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <div class="button-group">
            <a class="btn-getstarted scrollto" href="#">Login</a>
            <a class="btn-getstarted bordered scrollto" href="#">Register</a>
      </div>

    </div>
</header><!-- End Header -->