<!doctype html>
{% load static %}
{% load helper_functions %}
<header id="header" class="header fixed-top" data-scrollto-offset="0">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="{% url 'portfolio:index' %}" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <h1>Rahul Dhamecha<span>.</span></h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
         <li><a class="nav-link scrollto {{ request.path | is_active_item:'home' }}" href="{% url 'portfolio:index' %}">Home</a></li>
          <li><a class="nav-link scrollto {{ request.path | is_active_item:'about' }}" href="{% url 'portfolio:about' %}">About</a></li>
          <li><a class="nav-link scrollto {{ request.path | is_active_item:'services' }}" href="{% url 'portfolio:services' %}">Services</a></li>
          <li><a class="nav-link scrollto {{ request.path | is_active_item:'portfolio' }}" href="#">Portfolio</a></li>
          <li><a href="#" class="{{ request.path | is_active_item:'blog' }}">Blog</a></li>
          <li><a href="{% url 'portfolio:contact' %}" class="{{ request.path | is_active_item:'contact' }}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle d-none"></i>
      </nav><!-- .navbar -->

      <div class="button-group">
          {% if user.is_authenticated %}
              <a class="btn-getstarted scrollto" href="{% url 'portfolio:index' %}">My Account</a>
              <a class="btn-getstarted bordered scrollto" href="{% url 'auth:logout' %}">Logout</a>
          {% else %}
              <a class="btn-getstarted scrollto" href="{% url 'auth:login' %}">Login</a>
            <a class="btn-getstarted bordered scrollto" href="{% url 'auth:register' %}">Register</a>
          {% endif %}
      </div>

    </div>
</header><!-- End Header -->