<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div class="app-brand demo" style="display: flex;justify-content: center;align-items: center;">
    <a href="index.html" class="app-brand-link">
      <span class="app-brand-logo demo">
        <img style="max-width: 150px;" src="{{ url_for('static',filename="public/images/company_logo.jpg") }}" alt="">
      </span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  <ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item {% if request.endpoint == 'dashboard.index' %}active{% endif %}">
      <a href="{{ url_for('dashboard.index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
      </a>
    </li>

    <!-- Layouts -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text">Users</span>
    </li>
    <li class="menu-item {% if request.endpoint == 'users.index' %}active{% endif %}">
      <a href="{{ url_for('users.index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-user-circle"></i>
        <div data-i18n="Basic">Users</div>
      </a>
    </li>
      <li class="menu-item {% if request.endpoint == 'roles.index' %}active{% endif %}">
      <a href="{{ url_for('roles.index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock-alt"></i>
        <div data-i18n="Basic">Roles</div>
      </a>
    </li>
      <li class="menu-item {% if request.endpoint == 'permissions.index' %}active{% endif %}">
      <a href="{{ url_for('permissions.index') }}" class="menu-link">
        <i class="menu-icon tf-icons bx bx-lock-alt"></i>
        <div data-i18n="Basic">Permissions</div>
      </a>
    </li>
  </ul>
</aside>